@page "/"
@page "/employees"
@using EmployeeChallenge.Application.Employees.Services
@using EmployeeChallenge.Core.Models

<PageTitle>Employee List</PageTitle>

<h1>Employee List</h1>

<p>Here is the list of Employees in the application</p>

@if (Loading)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="filters-container">
        <div class="search-options">
            <div>
                <i class="oi oi-magnifying-glass"></i>
                <input type="text" placeholder="Search" @oninput="OnInput" class="form-control" />
            </div>
            <div>
                <select class="form-control" @onchange="OnOrderBySelected">                   
                    <option value="6">Created At Desc</option>
                    <option value="5">Created At Asc</option>
                    <option value="1">Name Asc</option>
                    <option value="2">Name Desc</option>
                    <option value="3">Hire Date Asc</option>
                    <option value="4">Hire Date Desc</option>                  
                </select>
                <i class="oi oi-sort-ascending"></i>
            </div>
        </div>

        <a href="/employee" class="btn btn-primary">Add Employee</a>
    </div>
    @if (employees.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Hire Date</th>
                    <th>Phone Number</th>
                    <th>Employee Zip</th>
                    <th>Created At</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in employees)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>@employee.HireDate.ToString("MM/dd/yyyy")</td>
                        <td>@employee.Phone.FormatPhoneNumber()</td>
                        <td>@employee.ZipCode</td>
                        <td>@employee.CreatedAt.ToString("MM/dd/yyyy hh:mm:ss")</td>
                        <td>
                            <a href="/employee/@employee.Id" class="btn btn-success">
                                <i class="oi oi-pencil"></i>
                            </a>
                            <button @onclick="async () => await HandleDelete(employee.Id)" class="btn btn-danger">
                                <i class="oi oi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p><em>No Results Found</em></p>
    }
}
